# Byte-compiled / optimized / DLL files
myenv/
.test/
.TEST/
echec/jeux_complet_1.py 
echec/jeux_complet_2.py
echec/jeux_complet_3.py
echec/jeux_complet_4.py
echec/jeux_complet_5.py
echec/jeux_complet_6.py
echec/jeux_complet_7.py
echec/jeux_complet_8.py
echec/jeux_complet_9.py
echec/jeux_complet_10.py
echec/jeux_complet_11.py
echec/jeux_complet_12.py
echec/jeux_complet_13.py
echec/jeux_complet_14.py
echec/jeux_complet_15.py
echec/jeux_complet_16.py
echec/jeux_complet_17.py
echec/jeux_complet_18.py
echec/jeux_complet_19.py
echec/jeux_complet_20.py
echec/jeux_complet_21.py
